:root {
  --title-color: #d97d83;
  --title-subcolor: #e1a6aa;
}
* {
  font-family:
    "Noto Serif KR",
    serif,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

/* Remove focus outlines from video elements */
video:focus {
  outline: none;
}

.image-gallery .image-gallery-left-nav .image-gallery-svg,
.image-gallery .image-gallery-right-nav .image-gallery-svg {
  width: 18px !important;
  height: 18px !important;
}



